{% extends 'layouts/base.html' %}


{% block title %}
Kardex de Inventario
{% endblock %}



{% block content %}


<div class="d-flex justify-content-between align-items-center gap-3 mb-4 flex-wrap">
<h3 class="fw-bold mb-0">

    <i class="bi bi-journal-text"></i>

    Kardex de Inventario

</h3>
<a href="{% url 'exportar_kardex_excel' %}{% if request.GET.producto %}?producto={{ request.GET.producto|urlencode }}{% endif %}" class="btn btn-success">
    <i class="bi bi-file-earmark-excel"></i> Exportar Excel
</a>
</div>



<div class="card">


<div class="card-body">


<div class="table-responsive">


<table 
id="tablaKardex"
class="table table-hover align-middle">


<thead class="table-light">


<tr>

<th>#</th>

<th>Fecha</th>

<th>Usuario</th>

<th>Producto</th>

<th>Movimiento</th>

<th>Cantidad</th>

<th>Stock anterior</th>

<th>Stock nuevo</th>


</tr>


</thead>



<tbody>


{% for movimiento in movimientos %}

<tr {% with detalle=movimiento.get_detail_url %}{% if detalle %}data-href="{{ detalle }}"{% endif %}{% endwith %}>


<td>
{{ forloop.counter }}
</td>


<td>
{{ movimiento.fecha|date:"d/m/Y H:i" }}
</td>


<td>
{{ movimiento.usuario.username }}
</td>


<td>
{{ movimiento.producto.nombre }}
</td>


<td>


{% if movimiento.tipo == "ENTRADA" %}

<span class="badge bg-success">

Entrada

</span>


{% else %}


<span class="badge bg-danger">

Salida

</span>


{% endif %}


</td>



<td>

{{ movimiento.cantidad }}

</td>



<td>

{{ movimiento.stock_anterior }}

</td>



<td>

{{ movimiento.stock_nuevo }}

</td>


</tr>


{% empty %}


<tr>

<td colspan="8"
class="text-center">


No existen movimientos registrados.


</td>


</tr>


{% endfor %}


</tbody>


</table>


</div>


</div>


</div>


{% endblock %}
