{% extends 'layouts/base.html' %}


{% block title %}
Detalle de Salida
{% endblock %}



{% block content %}


<div class="d-flex justify-content-between align-items-center mb-4">


    <h3 class="fw-bold">

        <i class="bi bi-box-arrow-up"></i>

        Detalle de Salida

    </h3>



    <a href="{% url 'lista_salidas' %}"
    class="btn btn-secondary">


        <i class="bi bi-arrow-left"></i>

        Regresar


                        <td>
                            {% load moneda %}
                            {{ detalle.precio|currency }}
                        </td>

                        <td>
                            {% if detalle.tarifa is not None %}
                                {{ detalle.tarifa|floatformat:0 }}%
                            {% else %}
                                -
                            {% endif %}
                        </td>

                        <td>
                            {{ detalle.subtotal|currency }}
                        </td>


<!-- ============================= -->
<!-- INFORMACIÓN DE LA SALIDA -->
<!-- ============================= -->


<div class="card shadow-sm mb-4">


    <div class="card-header bg-primary text-white">


        <h5 class="mb-0">

            Información de la salida

        </h5>


    </div>



    <div class="card-body">


        <div class="row">


            <div class="col-md-3">

                <label class="fw-bold">
                    Código
                </label>

                <p>
                    {{ salida.codigo }}
                </p>

            </div>




            <div class="col-md-3">

                <label class="fw-bold">
                    Cliente
                </label>

                <p>
                    {{ salida.cliente.nombre_completo }}
                </p>

            </div>




            <div class="col-md-2">

                <label class="fw-bold">
                    Fecha
                </label>

                <p>
                    {{ salida.fecha }}
                </p>

            </div>




            <div class="col-md-2">

                <label class="fw-bold">
                    Tipo
                </label>

                <p>
                    {{ salida.get_tipo_display }}
                </p>

            </div>




            <div class="col-md-2">

                <label class="fw-bold">
                    Estado
                </label>


                {% if salida.estado == "CONFIRMADA" %}

                    <span class="badge bg-success">
                        Confirmada
                    </span>


                {% elif salida.estado == "ANULADA" %}

                    <span class="badge bg-danger">
                        Anulada
                    </span>


                {% else %}

                    <span class="badge bg-warning text-dark">
                        Borrador
                    </span>


                {% endif %}


            </div>


        </div>


    </div>


</div>






<!-- ============================= -->
<!-- BOTÓN AGREGAR PRODUCTO -->
<!-- ============================= -->


<div class="card shadow-sm mb-4">


    <div class="card-body">

        {% if salida.estado == 'BORRADOR' %}
        <button
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#modalDetalleSalida">


            <i class="bi bi-plus-circle"></i>

            Agregar Producto


        </button>

        <form method="POST" action="{% url 'confirmar_salida' salida.id %}" class="d-inline ms-2">
            {% csrf_token %}
            <button type="submit" class="btn btn-success" onclick="return confirm('¿Está seguro de confirmar esta salida?');">
                <i class="bi bi-check-circle"></i> Confirmar salida
            </button>
        </form>
        {% endif %}


    </div>


</div>







<!-- ============================= -->
<!-- PRODUCTOS AGREGADOS -->
<!-- ============================= -->


<div class="card shadow-sm">


    <div class="card-header">


        <h5 class="mb-0">

            Productos agregados

        </h5>


    </div>




    <div class="card-body">


        <div class="table-responsive">


            <table class="table table-hover">


                <thead class="table-light">


                    <tr>

                        <th>#</th>

                        <th>Producto</th>

                        <th>Cantidad</th>

                        <th>Precio</th>

                        <th>Tarifa IVA</th>

                        <th>Subtotal</th>

                        <th>
                            Acción
                        </th>


                    </tr>


                </thead>




                <tbody>


                    {% for detalle in detalles %}


                    <tr>


                        <td>
                            {{ forloop.counter }}
                        </td>



                        <td>
                            {{ detalle.producto.nombre }}
                        </td>



                        <td>
                            {{ detalle.cantidad }}
                        </td>



                        <td>
                            {{ detalle.precio|currency }}
                        </td>



                        <td>
                            {{ detalle.subtotal|currency }}
                        </td>




                        <td>


                        <button
                            type="button"
                            class="btn btn-danger btn-sm btnEliminarDetalle"

                            data-id="{{ detalle.id }}"

                            data-producto="{{ detalle.producto.codigo }} - {{ detalle.producto.nombre }}"

                            data-bs-toggle="modal"

                            data-bs-target="#modalEliminarDetalle">

                            <i class="bi bi-trash"></i>

                        </button>


                        </td>



                    </tr>



                    {% empty %}



                    <tr>

                        <td colspan="6"
                            class="text-center">


                            No existen productos agregados.


                        </td>


                    </tr>



                    {% endfor %}



                </tbody>


            </table>


        </div>


    </div>




    <div class="card-footer">
        <div class="row g-3 justify-content-end">
            <div class="col-md-4">
                <div class="d-flex justify-content-between">
                    <span>Base imponible</span>
                    <strong>{{ salida.total_base|currency }}</strong>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <span>IVA</span>
                    <strong>{{ salida.total_iva|currency }}</strong>
                </div>
            </div>
            <div class="col-md-4 text-end">
                <h4>
                    Total:
                    <span class="text-success">{{ salida.total_con_iva|currency }}</span>
                </h4>
            </div>
        </div>
    </div>



</div>

{% include "salidas/modal_detalle.html" %}

{% include "salidas/modal_eliminar_detalle.html" %}

{% endblock %}
